body {
  font-family: 'Noto Sans JP', sans-serif;
  background-color: #f8f9fa;
}
.error {
  color:red;
  display: none;
}
.input-group-text a {
  color: black;
  text-decoration: none;
}
#projectPage, #detailProjectPage {
  display: none;
}